<!--panel-heading-->
<!--panel-title-->
<!--accordion-toggle-->

<!--panel-collapse collapse-->
<!--panel-body-->
<div class={{panelHeaderClasses}}>
    <h4 bind-attr class={{panelTitleClasses}} style="cursor: pointer;">
        <a bind-attr class={{panelTogglerClasses}}>
            {{title}}
        </a>
    </h4>
</div>
<div bind-attr class={{panelBodyContainerClasses}}>
    <div bind-attr class={{panelBodyClasses}}>{{yield}}</div>
</div>
